.body {
	background-color: black;
	color: green;
}
.header{
	text-align:center;
	background:url(../img/back-ground.jpeg) center repeat;
	padding:140px 0;
}

.header h1 {
	font-family: 'Megrim', cursive;
	text-shadow: 2px 2px #000;
}

.we-create li {
	color: black;
	text-shadow: 1px 1px #fff;
	font-size: 1.5em;
}

.github a:hover {
	background-color: #ffc31e;
}

/*.main-nav {
	text-align: center;
}*/